{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %}Mobile navigation{% endcomment %}
<header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">{% if section.settings.promo_text != blank %}
    <div class="promo_banner">
      {{ section.settings.promo_text }}
      <div class="promo_banner-close"></div>
    </div>
  {% endif %}
  

  
  <div class="top_bar clearfix">
    <a class="mobile_nav dropdown_link" data-dropdown-rel="menu" data-no-instant="true" role="button" aria-label="{{ 'layout.general.menu' | t | escape }}" aria-controls="mobile_menu">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="menu_title">{{ 'layout.general.menu' | t }}</span>
    </a>
    <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
      {% if section.settings.logo_mobile != nil %}
        <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% elsif section.settings.logo != nil %}
        <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    {% if section.settings.search_enabled %}
      <a href="/search" class="icon-search" title="{{ 'general.search.title' | t | escape }}" aria-label="Search stories and pages"></a>
    {% endif %}
  </div>
  <div class="dropdown_container" data-dropdown="menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% include 'mobile-menu' with section.settings.main_linklist %}
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</header>

{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% comment %}Main navigation{% endcomment %}
   
<header class="{% if feature_image %}feature_image{% endif %} {% if section.settings.logo_home != nil %}secondary_logo--true{% endif %}">
  <div class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    {% if section.settings.promo_text != blank %}
      <div class="promo_banner">
        {{ section.settings.promo_text }}
        <div class="promo_banner-close"></div>
      </div>
    {% endif %}    
    
 
	 
    <div class="top_bar clearfix">
      {% if section.settings.social_icons_header %}
        {% include 'social-icons' %}
      {% endif %}
      <ul class="menu left">
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}
      </ul>
      <ul class="menu right"></ul>
    </div>

    <div class="main_nav_wrapper">
      <div class="main_nav clearfix menu-position--{{ section.settings.menu_position }} logo-align--{{ section.settings.logo_position }}">
        {% capture logo %}
          <div class="logo text-align--{{ section.settings.logo_alignment }}">
            <a href="{{ shop.url }}" title="{{ shop.name }}">
              {% if section.settings.logo_home != nil %}
                <img src="{{ section.settings.logo_home | img_url: '410x' }}" class="secondary_logo" alt="{{ shop.name | escape }}" />
              {% endif %}
              {% if section.settings.logo != nil %}
                <img src="{{ section.settings.logo | img_url: '410x' }}" class="primary_logo" alt="{{ shop.name | escape }}" />
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
        {% endcapture %}

        {% assign vertical_menu = false %}

        {% capture menu_left %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist %}
          {% endif %}
        {% endcapture %}

        {% capture menu_right %}
          {% if section.settings.search_enabled %}
            <li class="search_link">
              <a href="/search" class="icon-search" title="{{ 'general.search.title' | t | escape }}" aria-label="Search stories and pages"></a>
            </li>
          {% endif %}
        {% endcapture %}

        {% if section.settings.logo_position == "left" or section.settings.menu_position == "block" %}
          {{ logo }}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
              {{ menu_right }}
            </ul>
          </div>
        {% else %}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
            </ul>
          </div>
          {{ logo }}
          <div class="nav">
            <ul class="menu {% if section.settings.menu_alignment == 'align_left' %}align_right{% elsif section.settings.menu_alignment == 'align_right' %}align_left{% else %}{{ section.settings.menu_alignment }}{% endif %} clearfix">
              {{ menu_right }}
            </ul>
          </div>
        {% endif %}
        {% include 'sub-menu' with section.settings.main_linklist %}
      </div>
    </div>
  </div>
</header>

<style>
  #header .top_bar,
  .header .top_bar,
  .main_nav_wrapper,
  .main_nav_wrapper .menu,
  .main_nav_wrapper .menu a,
  .main_nav_wrapper .menu span,
  .main_nav_wrapper input,
  .menu_title {
    font-family: var(--sha-font-display, "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif);
  }

  #header .top_bar {
    min-height: 62px;
    padding: 0 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #header .top_bar a.mobile_logo {
    display: flex;
    align-items: center;
    min-height: 62px;
  }

  #header a.mobile_logo img {
    max-height: 34px;
    width: auto;
  }

  .header .top_bar {
    min-height: 24px;
    padding: 2px 0 0;
    margin-bottom: 0;
  }

  .header .top_bar .menu a,
  .header .top_bar .social_icons a {
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .header .top_bar .social_icons,
  .header .top_bar .menu {
    margin-bottom: 0;
  }

  .header .top_bar .social_icons li,
  .header .top_bar .menu li {
    margin-bottom: 0;
  }

  .main_nav_wrapper {
    border-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .main_nav {
    min-height: 66px;
    display: flex;
    align-items: center;
  }

  .main_nav div.logo a {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  div.logo img {
    width: auto;
    max-width: min(84px, {{ section.settings.logo_display_width }}px);
    max-height: 42px;
  }

  .nav {
    {% if section.settings.menu_position == "block" %}
      width: 100%;
      clear: both;
    {% elsif section.settings.logo_position == "left" %}
      width: 84%;
      float: left;
    {% else %}
      width: 42%;
      float: left;
    {% endif %}
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: 0;
      padding-bottom: 0;
    }

    .sticky_nav ul.menu, .sticky_nav .mini_cart {
      padding-top: 0;
      padding-bottom: 0;
    }
  {% endif %}

  .nav ul.menu > li > a,
  .nav ul.menu > li > span,
  .search_link a,
  .search_form input {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .nav ul.menu > li > a,
  .nav ul.menu > li > span {
    line-height: 1.2;
  }

  .search_form input,
  .header_search_form .search-terms {
    font-size: 13px;
    letter-spacing: 0;
    text-transform: none;
  }

  {% unless section.settings.show_cart %}
    #header .top_bar .icon-search {
      right: 15px;
    }
  {% endunless %}

  {% if section.settings.fixed_header == false %}
    @media only screen and (max-width: 798px) {
      .header-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  {% endif %}

  @media only screen and (max-width: 798px) {
    #header .top_bar .menu_title {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.12em;
      text-transform: uppercase;
    }
  }

</style>

{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Announcement message"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "range",
      "id": "logo_top_padding",
      "label": "Logo top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "menu_top_padding",
      "label": "Main menu top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 0,
      "unit": "px"
    }
  ]
}

{% endschema %}
